<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>モーダルダイアログ</title>
  <script type="text/javascript">

    function init(){
      window.returnValue = null
    }

    // ▼親ウインドウへデータを返す
    function retPrefecture() {
      window.returnValue = document.getElementById("name").value;
      window.close();
    }

  </script>
</head>
<body onLoad="init()">
  <p>選択してください</p>
  <select id="name">
    <% @staff.each do |staff| %>
      <option value=<%= staff.name %>> <%= staff.name %> </option>
    <% end %>
  </select>
  <input type="button" value="選択完了" onclick="retPrefecture();">

</body>
</html>